<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HBuilder.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4B8FAB1E63D07A05D05BF6DACAEFF1595A5340E7</string>
				<key>dateExpires</key>
				<string>2021/8/17</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZXMK2V87C9.com.yiyi.Busi</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZXMK2V87C9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>移移商家.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0d12083-f249-4c68-84d5-d52ffb0f794c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.yiyi.Busi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZXMK2V87C9</string>
				<key>name</key>
				<string>Yiyi (Xiamen) Electronics Business Services Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
